<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Javaya</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
	<servlet>
		<display-name>Home</display-name>		
		<servlet-name>Home</servlet-name>
		<servlet-class>com.sdzee.servlets.Home</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<display-name>Registration</display-name>		
		<servlet-name>Registration</servlet-name>
		<servlet-class>com.sdzee.servlets.Registration</servlet-class>
	</servlet>
	<servlet>
		<display-name>User_home</display-name>		
		<servlet-name>User_home</servlet-name>
		<servlet-class>com.sdzee.servlets.User_home</servlet-class>
	</servlet>
	<servlet>
	<servlet-name>Deconnexion</servlet-name>
	<servlet-class>com.sdzee.servlets.Deconnexion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Registration</servlet-name>
		<url-pattern>/registration</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>User_home</servlet-name>
		<url-pattern>/home_user</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	<servlet-name>Deconnexion</servlet-name>
	<url-pattern>/deconnexion</url-pattern>
</servlet-mapping>
</web-app>